<div class="container">
    <h2>La oferta termina en:</h2>
    <div class="timer">
        <div class="card">
            <span id="days"> {{daysToDday}} </span>
            <p> Días</p>
        </div>
        <div class="card">
            <span id="hours"> {{hoursToDday}} </span>
            <p> Horas</p>
        </div>
        <div class="card">
            <span id="minutes"> {{minutesToDday}} </span>
            <p> Minutos</p>
        </div>
        <div class="card">
            <span id="seconds"> {{secondsToDday}} </span>
            <p> Segundos</p>
        </div>
    </div>
</div>