<div class="container">
    <!-- PHOTO -->
    <div class="photo">
        <h1>Conéctate con el mundo. Nosotros viajamos por ti.</h1>
        <div class="buttons">
            <button class="first">Más info</button>
            <button class="second">Ver vídeo</button>
        </div>
    </div>

    <!-- SERVICES -->
    <div class="services">
        <h2>Servicios</h2>
        <div class="sections">
            <div class="section">
                <i class="fas fa-box-open"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus doloremque fugit corporis
                    quaerat velit dicta suscipit eveniet voluptas! Vitae.</p>
            </div>
            <div class="section">
                <i class="fas fa-dolly"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus doloremque fugit corporis
                    quaerat velit dicta suscipit eveniet voluptas! Vitae.</p>
            </div>
            <div class="section">
                <i class="fas fa-money-check"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus doloremque fugit corporis
                    quaerat velit dicta suscipit eveniet voluptas! Vitae.</p>
            </div>
        </div>
    </div>

    <!-- TIMER -->
    <app-timer></app-timer>

    <!-- CALCULATOR -->
    <app-calculator></app-calculator>
</div>