@import "../../../../variables";
@import "../../../../mixins";

.container {
  width: 100%;
  .photo {
    @include flex-center-column;
    width: 100%;
    height: 500px;
    background-image: url("../../../../../images/race.jpg");
    @include bg-cover;
    h1 {
      color: $colorText;
      font-size: 2.6rem;
      width: 520px;
      text-align: center;
    }

    .buttons {
      button {
        border: none;
        padding: 0.9rem 2.7rem;
        margin: 2rem 1rem 0;
        color: $colorText;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;
        transition: all 300ms;

        &:hover {
          filter: brightness(0.9);
        }
      }

      .first {
        background: $colorRed;

        &:hover {
          box-shadow: 0 0 1px $colorRed;
        }
      }
      .second {
        background: $colorGray;

        &:hover {
          box-shadow: 0 0 1px $colorGray;
        }
      }
    }
  }

  .services {
    width: 100%;
    @include flex-center-column;
    padding: 6rem 5%;

    h2 {
      color: $colorGray;
      font-size: 2rem;
      margin: 0 0 2rem;
    }
    .sections {
      display: grid;
      gap: 2.4rem;
      grid-template-columns: repeat(auto-fit, minmax(min(324px, 100%), 1fr));
      text-align: center;

      .section {
        box-shadow: 0 0 2px rgba(170, 170, 170, 0.89);
        border-radius: 5px;
        padding: 5rem 1rem;
        .fas {
          color: $colorRed;
          font-size: 4rem;
          margin: 1rem 0 2rem;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .container {
    .photo {
      h1 {
        font-size: 2.2rem;
        width: 460px;
      }
    }
  }
}

@media (max-width: 470px) {
  .container {
    .photo {
      h1 {
        font-size: 1.8rem;
        width: 410px;
      }
    }
  }
}
