<div class="calculator">

    <div class="text">
        <h2>Calculadora de precio:</h2>
        <p>La calculadora pone en relación los valores introducidos y te proporcionará el precio por el paquete que
            deseas enviar.
        </p>
    </div>


    <!-- ReactiveFormsModule -->
    <form id="calculatorForm" [formGroup]="calculatorForm" (ngSubmit)="saveClick(calculatorForm)">

        <h3>Introduce los datos:</h3>

        <div class="field">
            <span>Cantidad</span>
            <input type="number" placeholder="nº" formControlName="quantity">
        </div>
        <div class="field">
            <span>Peso</span>
            <input type="number" placeholder="kg" formControlName="weight">
        </div>
        <button type="submit">Calcular</button>

        <div class="result" *ngIf="active">
            <!-- Resultado -->
            <p>Precio: {{result}} €</p>
        </div>

    </form>
</div>