<header class="pc" #menu>
    <div class="logo" [routerLink]="['/landing']"></div>
    <div class="links">
        <a [routerLink]="['/landing']">Inicio</a>
        <a [routerLink]="['']" fragment="ofert">Ofertas</a>
        <a [routerLink]="['']" fragment="calculator">Calculadora</a>
        <a [routerLink]="['']" fragment="employees">Sobre Nosotros</a>
    </div>
</header>

<!-- PHONE/IPAD -->
<header class="phoneIpad" #menuPhone>
    <div class="logo" [routerLink]="['/landing']"></div>
    <i class="fas fa-bars" (click)="showMenu()"></i>
    <div class="linksMenu" *ngIf="activated">
        <a [routerLink]="['/landing']">Inicio</a>
        <a [routerLink]="['']" fragment="ofert">Ofertas</a>
        <a [routerLink]="['']" fragment="calculator">Calculadora</a>
        <a [routerLink]="['']" fragment="employees">Sobre Nosotros</a>
    </div>
</header>