@import "../../../../variables";
@import "../../../../mixins";

header {
  padding: 1rem 6%;
  color: $colorText;
  background-color: $colorGray;
  width: 100%;
  @include flex-justify-between;
  position: fixed;
  .logo {
    background-image: url("../../../../../images/Planet_Favicon.png");
    width: 250px;
    height: 60px;
    @include bg-contain;
    cursor: pointer;
  }
  .links {
    a {
      margin-right: 2rem;
      cursor: pointer;
      text-decoration: none;
      color: unset;

      &:hover {
        color: $colorRed;
      }
    }
  }
}

.phoneIpad {
  display: none;
}

.scrolling {
  opacity: 95%;
  padding: 0.5rem 6%;
}

@media (max-width: 960px) {
  .pc {
    display: none;
  }
  // PHONE
  .phoneIpad {
    position: relative;
    position: fixed;
    @include flex-justify-between;
    .logo {
      height: 50px;
    }
    .fas {
      font-size: 2rem;
      cursor: pointer;
    }
    .linksMenu {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 6%;
      top: 75px;
      background-color: $colorText;
      border-radius: 5px;
      padding: 1rem 2rem;
      a {
        cursor: pointer;
        margin: 1rem 0;
        color: $colorGray;
        text-decoration: none;
        &:hover {
          color: $colorRed;
        }
      }
    }
  }
}
